<div style="align-content:center" *ngIf="currentQuestion != undefined">
  <p>{{idx}}. {{currentQuestion.question}}</p>
  <table>
    <tbody>
    <tr *ngFor="let c of currentQuestion.choices">
      <td>
        <input type="radio" name="radiogroup"
               [value]="c.choice"
               (change)="c.selected = !c.selected">
      </td>
      <td>{{c.choice}}</td>
    </tr>
    </tbody>
  </table>
  <hr>
</div>
<div>
  <p *ngIf="idx == 0">You are going to answer {{questions.length * 5}} questions</p>
  <button *ngIf="idx == 0" (click)="start()">Start</button>
  <button *ngIf="idx != questions.length && idx > 0" (click)="getNextQuestion()">Next</button>
  <button *ngIf="idx == questions.length && !finished" (click)="finishQuiz()">Finish</button>
</div>
<div class = "center" *ngIf="finished">
  <p>Your result is {{computePercentage()}}% !</p>
</div>

